.node {
	cursor: pointer;
	font-family: arial;
}

.overlay {
	background-color: #fffff;
}
   
.node rect {
	fill: #fff;
	stroke: #fffff;
	stroke-width: 1.5px;
}
   
.node text {
	font-size: 15.5px;
	fill:black;
	background:white;
	background-color:red;
}
   
.link {
	fill: none;
	stroke: gray;
	stroke-width: 1.5px;
}

line {
	fill: none;
	stroke-width: 1.5px;
}

line:hover {
	fill: none;
	stroke-width: 4.5px;
}

#text {
	width: 80%;
}

#submit-button {
	cursor: pointer;
	border: 0;
	color: white;
	background-color: darkorange;
	font-size: 15px;
	padding: 10px 25px;
	outline: 0;
}

#info {
	margin-bottom: 20px;
}

#sentence-container {
	width: 1020.8px;
	margin-left: auto;
	margin-right: auto;
}
